@charset "utf-8";
@import "_mixin";

$headline-ff:Braggadocio,Arial,Verdana,Helvetica,sans-serrif;
$main-sec-ff:Arial,Verdana,Helvetica,sans-serrif;

/*基于sass的既定规则
1.没有文件后缀名的时候，sass会添加.scss或者.sass的后缀。
2.同一目录下，局部文件和非局部文件不能重名。




 使用css原生@import的既定规则：
 1.当@import后边跟的文件名是以.css结尾的时候！
 2.当@import后面跟的是http://开头的字符串的时候
 3.当@import后面跟的是一个url()函数的时候
 4.当@import后面带有media queries的时候
 
 这四种情况sass就知道是css文件引用的
 
 
  变量操作：
 1.直接操作变量，即变量表达式。
 2.通过函数。
    .跟代码块无关的函数，多是自己内置函数，称functions.
    .可重用的代码块，称mixin
        @include调用
        @extend调用
 */
body{
    font-family: $main-sec-ff;
}
a{
    font-size: 12px;
    font:{
        family: $headline-ff;
        size:14px;
    }
    &:hover{
        color: red;
    }
}
//计算可以带单位，则不可以带多个单位计算
p{
    height: (500px/2);
}
//H色调 圆盘 度数        S饱和度 百分比  L亮度百分比
//http://sass-lang.com/documentation/Sass/Script/Functions.html
p{
    color: hsl(270,100%,50%);
}

.webdemo-sec{
    @include col-sm(20%); 
    &:hover{
        background-color: #f5f5f5;
    }
}
/*
 1.@extend继承多个选择器
 2.连续继承
 
 1.extend不可以继承选择器序列 例 .A .B{}
 2.使用%,用于构建只用来继承的选择器。
 * */
%name{
    font: "微软雅黑";
} 
.error{
    color: #f00;
}
.serious-error{
    @extend .error;
    @extend %name;
    border: 1px;
}
/*sass中的@media跟css区别：
 *   sass中的media query可以内嵌在css规则中，在生成css的时候，
 *   media query才会被提到样式的最高层级。
 * 好处：避免了重复书写选择器或者打乱样式表的流程。
 * 通过嵌套副作用：
 *  增加了样式修饰的权重
 *  制造了这种样式位置的依赖
 * 
 * 在嵌套的时候
 * 使用sass的at-root指令,则不属于他的子级
 */
     
.test_02{ 
    color: red;
    @at-root
     .test_02_a{
         font-size: 50px;
     }
} 
