*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
html,body{
	height: 100%;
}
.topHeader{
	position: absolute;
	height: 100px;
	width: 100%;
	background-color: #fff;
	z-index: 2;
}
.topHeader nav{
	margin-left: 250px;
}
.top-nav{
	list-style: none;
    overflow: hidden;
}
.top-nav li{
	float: left;
	margin-right: 50px;
}
.top-nav a{
	text-decoration: none;
	color: #333;
	line-height: 100px;
}
.top-nav a:hover{
	color: #ccc;
}
/*.main{
	position: relative;
	width: 100%;
	min-height: 100%;
	padding-top: 100px;
	background-color: #323232;
}*/
.left-sidebar{
	position: absolute;
	width: 160px;
	height: 100%;
	padding-top: 100px;
	z-index: 1;
	text-align: center;
	background-color: #323232;
}
.left-hearder{
	font-size: 24px;
	color: #fff;
	line-height: 70px;
}
.left-menu{
	margin-top: 10px;
}
.left-menu:first-of-type{
	margin-top: 0;
}
.menu-header{
	line-height: 40px;
	color: #fff;
	background-color: #666;
	cursor: pointer;
}
.menu-header .triangle{
	position: relative;
	top: 8px;
	display: inline-block;
	height: 0;
	width: 0;
	border-color: #fff transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 8px;
}
.left-submenu li{
	width: 100%;
	list-style: none;
}
.left-submenu a{
	display: inline-block;
	width: 100%;
	line-height: 40px;
	text-decoration: none;
	color: #414141;
	background-color: #cdcdcd;
	border: 1px solid #4f4f4f;
}
.container{
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 100px;
	padding-left: 160px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.content{
	height: 100%;
	overflow: auto;
}
